TAPIS_ADMIN_TOKEN=
TAPIS_BASE_URL=
TAPIS_TENANT=
TAPIS_GARAGE_IMAGE=dxflrs/garage:090dbb412aff0afcbd42183ec12fa62c15bde58b
TAPIS_POSTGRES_TEMPLATE=postgres:16@2024-12-04-18:28:04
TAPIS_MLFLOW_IMAGE=ghcr.io/mlflow/mlflow
TAPIS_DATASETS_IMAGE=ghcr.io/icicle-ai/ai-studio-datasets:latest
